<footer class="site-footer">
	<div class="footer-container">
		<a href="{{ path('app_about') }}">À propos</a>
		<a href="{{ path('app_privacy_policy') }}">Politique de confidentialité</a>
		<a href="{{ path('app_terms_of_service') }}">Conditions d'utilisation</a>
		<a href="{{ path('app_contact') }}">Contactez-nous</a>
	</div>
</footer>
