<h2>Nouveau message via le formulaire de contact</h2>

<p>
	<strong>Nom :</strong>
	{{ name }}</p>
<p>
	<strong>Email :</strong>
	{{ email }}</p>
<p>
	<strong>Message :</strong>
</p>
<p>{{ message|nl2br }}</p>
